<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p4_group12">

    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- <uses-feature android:name="android.hardware.type.watch" /> -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P4group12">
        <activity android:name=".Interface.AdvertisementsListActivity"
            android:label="Liste des annonces"
            android:parentActivityName=".Interface.CourseListActivity" />


        <!--
         <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        -->
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".Interface.CourseListActivity"
            android:label="@string/title_activity_course_list" />
        <activity
            android:name=".Interface.AddAdvertisementActivity"
            android:label="Ajouter une annonce"
            android:parentActivityName=".Interface.AdvertisementView" />
        <activity
            android:name=".Interface.ForeignProfileActivity"
            android:label="Vision d'un profil"
            android:parentActivityName=".Interface.AdvertisementView" />
        <activity
            android:name=".Interface.AdvertisementView"
            android:label="AdvertisementView"
            android:parentActivityName=".Interface.AdvertisementView"/>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- Required to use Apache library -->
        <activity android:name=".Interface.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Interface.SignupActivity"
            android:label="Inscription"
            android:parentActivityName=".Interface.LoginActivity"/>
        <activity
            android:name=".Interface.ProfileActivity"
            android:label="Mon profil" />
        <activity
            android:name=".Interface.EditProfileActivity"
            android:label="Modifier mon profil"
            android:parentActivityName=".Interface.ProfileActivity"/>
        <activity
            android:name=".Interface.EditPasswordActivity"
            android:label="Modifier mon mot de passe"
            android:parentActivityName=".Interface.EditProfileActivity"/>
        <activity
            android:name=".Interface.MyAdvertisementsActivity"
            />
    </application>

</manifest>