<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p4_group12">

    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- <uses-feature android:name="android.hardware.type.watch" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P4group12">

        <!--
         <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        -->
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->

                <!--#############################################################-->
                <!--#############################################################-->
                <!--######################## METADATAS #########################-->
                <!--#############################################################-->
                <!--#############################################################-->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

                <!--#############################################################-->
                <!--#############################################################-->
                <!--######################## LIBRARIES #########################-->
                <!--#############################################################-->
                <!--#############################################################-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- Required to use Apache library -->

                <!--#############################################################-->
                <!--#############################################################-->
                <!--######################## SERVICES ###########################-->
                <!--#############################################################-->
                <!--#############################################################-->

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

                <!--#############################################################-->
                <!--#############################################################-->
                <!--######################## MAIN ACTIVITY #########################-->
                <!--#############################################################-->
                <!--#############################################################-->

        <activity android:name=".Interface.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

                <!--#############################################################-->
                <!--#############################################################-->
                <!--######################## ACTIVITIES #########################-->
                <!--#############################################################-->
                <!--#############################################################-->

        <!--#########################################################################################-->
        <!--# 1) activities with no go back because accessible with a drawer of after the connexion #-->
        <!--#########################################################################################-->


                        <!-- ############# HomeListActivity ############## -->
                <!--#############################################################-->

        <activity
            android:name=".Interface.HomeActivity"
            android:label="HomeActivity" />


                        <!-- ############# EditPasswordActivity ############## -->
                <!--#############################################################-->
        <activity
            android:name=".Interface.MyAdvertisementsActivity" />



                        <!-- ############# ProfileActivity ############## -->
                <!--#############################################################-->
        <activity
            android:name=".Interface.ProfileActivity"
            android:label="Mon profil" />

        <activity
            android:name=".Interface.MyBookmarksActivity"
            android:label="Mes signets" />


        <!--#################################-->
        <!--# 2) activities with go back #-->
        <!--#################################-->



                    <!-- ############# AddAdvertisementActivity ############## -->
                <!--#############################################################-->
        <activity
            android:name=".Interface.AddAdvertisementActivity"
            android:label="Ajouter une annonce"
            android:parentActivityName=".Interface.AdvertisementsListActivity" />


                   <!-- ############# ForeignProfileActivity ############## -->
                <!--#############################################################-->
        <activity
            android:name=".Interface.ForeignProfileActivity"
            android:label="Vision d'un profil"
            android:parentActivityName=".Interface.AdvertisementViewActivity" />

                <!-- ############# AdvertisementsListActivity ############## -->
            <!--#############################################################-->
        <activity android:name=".Interface.AdvertisementsListActivity"
            android:label="Liste des annonces"
            android:parentActivityName=".Interface.SearchActivity" />

                <!-- ############# SearchListActivity ############## -->
            <!--#############################################################-->

        <activity
            android:name=".Interface.SearchActivity"
            android:label="@string/title_activity_course_list"
            android:parentActivityName=".Interface.HomeActivity"/>

                       <!-- ############# AdvertisementViewActivity ############## -->
                <!--#############################################################-->
        <activity
            android:name=".Interface.AdvertisementViewActivity"
            android:label="AdvertisementView"
            android:parentActivityName=".Interface.AdvertisementViewActivity"/>


                   <!-- ############# SignupActivity ############## -->
            <!--#############################################################-->
        <activity
            android:name=".Interface.SignupActivity"
            android:label="Inscription"
            android:parentActivityName=".Interface.LoginActivity"/>


                  <!-- ############# EditProfileActivity ############## -->
            <!--#############################################################-->
        <activity
            android:name=".Interface.EditProfileActivity"
            android:label="Modifier mon profil"
            android:parentActivityName=".Interface.ProfileActivity"/>


                <!-- ############# EditPasswordActivity ############## -->
            <!--#############################################################-->
        <activity
            android:name=".Interface.EditPasswordActivity"
            android:label="Modifier mon mot de passe"
            android:parentActivityName=".Interface.EditProfileActivity"/>

        <!-- ############# EditAdvertisementActivity ############## -->
        <!--#############################################################-->
        <activity
            android:name=".Interface.EditAdvertisementActivity"
            android:label="Modifier mon mot de passe"
            android:parentActivityName=".Interface.EditAdvertisementActivity"/>

        <!-- ############# AddFileActivity ############## -->
        <!--#############################################################-->
        <activity
            android:name=".Interface.AddFileActivity"
            android:label="Ajouter un fichier"
            android:parentActivityName=".Interface.AdvertisementsListActivity"/>
    </application>

</manifest>